.about{
    padding:100px 0;
    background:#ffffff;
}

.about-container{
    width:90%;
    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
}

.about-image img{
    width:100%;
    border-radius:15px;
    object-fit:cover;
}

.section-tag{
    color:#0b7a43;
    font-weight:700;
    letter-spacing:2px;
}

.about-content h2{
    font-size:2.5rem;
    margin:20px 0;
    color:#1d1d1d;
}

.about-content p{
    color:#555;
    line-height:1.8;
    margin-bottom:35px;
}

.about-btn{
    display:inline-block;
    background:#0b7a43;
    color:white;
    padding:15px 35px;
    border-radius:8px;
    text-decoration:none;
    transition:.3s;
}

.about-btn:hover{
    background:#095d32;
}

@media(max-width:900px){

.about-container{
grid-template-columns:1fr;
}

.about-content{
text-align:center;
}

}