.footer{
    background:#0d3b2a;
    color:white;
    padding:70px 0 25px;
}

.footer-container{
    width:90%;
    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    gap:50px;
}

.footer-column h3{
    margin-bottom:22px;
    font-size:1.35rem;
    color:white;
}

.footer-column p{
    color:#d9d9d9;
    line-height:1.9;
    margin-bottom:12px;
}

.footer-column ul{
    list-style:none;
    padding:0;
    margin:0;
}

.footer-column li{
    margin-bottom:14px;
}

.footer-column a{
    text-decoration:none;
    color:#d9d9d9;
    transition:.3s;
}

.footer-column a:hover{
    color:white;
    padding-left:6px;
}

.footer-bottom{
    width:90%;
    max-width:1200px;
    margin:60px auto 0;
    border-top:1px solid rgba(255,255,255,.15);
    padding-top:25px;
    text-align:center;
}

.footer-bottom p{
    color:#cfcfcf;
    font-size:.95rem;
}

@media(max-width:768px){

.footer{
text-align:center;
}

.footer-container{
gap:35px;
}

.footer-column a:hover{
padding-left:0;
}

}