html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: "Inter", "Poppins", Arial, sans-serif;
}


* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
}


img {
  max-width: 100%;
  display: block;
}


button {
  font-family: inherit;
}